<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <title>图书查询系统</title>
</head>

<body>
    <div class="banner">您好{{ user_name }},欢迎使用图书查询系统</div>
    <div class="clearfix">
        <div class="left">
            <p class="title">图书列表</p>
            <ol class="list">
                {% for ISBN,name in books %}
                <li>
                    <a href="{{ url_for('book', user_name=user_name,ISBN = ISBN) }}">{{name}}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="right">
            {% if one_book != None %}
            <div class="content clearfix">
                <div class="prop">书名:</div>
                <div class="val">{{one_book[1]}}</div>
            </div>
            <div class="content clearfix">
                <div class="prop">作者:</div>
                <div class="val">{{one_book[2]}}</div>
            </div>
            <div class="content clearfix">
                <div class="prop">出版社:</div>
                <div class="val">{{one_book[3]}}</div>
            </div>
            <div class="content clearfix" style="height:500px">
                <div class="prop">简介:</div>
                <div class="val">{{one_book[4]}}</div>
            </div>
            {% endif %}
        </div>
    </div>

</body>

</html>