body{
    width: 1280px;
    margin: 0 auto;
}
.top{
    height: 100px;
}
.login{
    height: 200px;
    width: 300px;
    margin: 0 auto;
    background-color: #85ece7;
    /* padding-top: 0px; */
    border: 1px solid #000;
}

.login div{
    margin: 20px 0;
}

.login div .title{
    width: 200px;
    margin: 0 auto;
    font-size: 20pt;
    text-align: center;
}

.login .form-submit p{
    margin: 15px 0;
    text-align: center
}
.left{
    float: left;
    width: 400px;
    height: 500px;

}
.left .title{
    padding-left: 40px;
}
.left ol{
    list-style: none;
    padding-right: 30px;
    border-bottom: 1px solid rgb(201, 201, 201);
    border-top: 1px solid rgb(201, 201, 201);

}
.left ol li{
    height: 20px;
    line-height: 20px;
    margin: 30px 0;
    
}
.right{
    float: left;
    width: 800px;
    padding-left: 50px;
    padding-top: 50px;

}
.right .content{
    border-left: 1px solid rgb(201, 201, 201);
    padding-left: 50px;
    height: 40px;
    line-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.right .content .prop{
    float: left;
    width: 100px;
}
.right .content .val{
    float: left;
    width: 600px;
}
.banner{
    text-align: center;
    font-size: 30pt;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-bottom: 15px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }